* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Gray-X-11-Gray: #b9b9b9;
  --Granite-Gray: #5f5f5f;
  --Earie-Black: #262626;
  --Little-Boy-Blue: #7fa6f5;
  --Azure-X-11-Web-Color: #f0fafb;

  --Headline: 'Montserrat', sans-serif;
  --Text: 'PT Serif', serif;
}

body {
  background: var(--Azure-X-11-Web-Color);
}

.top {
  padding-top: 80px;
  background-image: url('./img/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top > div {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  padding: 0px 124px;
  border: 1px dotted var(--Azure-X-11-Web-Color);
  color: var(--Azure-X-11-Web-Color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-weight: 400;
  font-family: var(--Headline);
}

h2 {
  font-family: var(--Headline);
  color: var(--Little-Boy-Blue);
  margin-top: 60px;
  text-align: center;
  font-size: 48px;
}

.presentation {
  color: var(--Azure-X-11-Web-Color);
  font-family: var(--Text);
  font-size: 16px;
  font-weight: 400;
  max-width: 448px;
}

.one {
  margin-top: 64px;
}

.two {
  margin-top: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.form h6 {
  font-family: var(--Headline);
  font-size: 18px;
  font-weight: 700;
  color: var(--Azure-X-11-Web-Color);
}

.form h6 span {
  color: var(--Little-Boy-Blue);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  display: flex;
  flex-direction: column;
}

input {
  background: none;
  border-width: 0px 0px 2px 2px;
  border-style: solid;
  border-color: var(--Azure-X-11-Web-Color);
  width: 448px;
  padding: 12px;
  outline: none;
  color: var(--Azure-X-11-Web-Color);
}

input:focus {
  border-color: var(--Gray-X-11-Gray);
  color: var(--Gray-X-11-Gray);
}

.name-form {
  margin-top: 48px;
}

.email-form,
.tel-form {
  margin-top: 24px;
}

label {
  color: var(--Azure-X-11-Web-Color);
  margin-bottom: 8px;
}

.btn {
  width: 270px;
  padding: 25px 30px;
  background: var(--Little-Boy-Blue);
  font-family: var(--Text);
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 48px;
  color: var(--Earie-Black);
}

.btn:hover {
  outline: 2px solid var(--Gray-X-11-Gray);
}

.middle {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  border-block: 2px solid var(--Gray-X-11-Gray);
  color: var(--Earie-Black);
}

strong {
  font-family: var(--Headline);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.cards {
  display: flex;
  max-width: 1120px;
  gap: 32px;
  margin-top: 64px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 0px 0px 2px 2px;
  border-style: solid;
  border-color: #5f5f5f;
}

.card i {
  font-size: 64px;
  margin-top: 32px;
}

.card p {
  padding: 54px 16px 34px 16px;
  text-align: center;
  font-size: 20px;
  font-family: var(--Text);
}

footer {
  background: var(--Little-Boy-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > div {
  padding-block: 80px;
  width: 1120px;
}

.logo-2 {
  padding: 17px 120px;
  border: 1px dotted var(--Earie-Black);
  color: var(--Earie-Black);
  font-size: 32px;
  font-weight: 400;
  font-family: var(--Headline);
  max-width: 352px;
}

footer p {
  margin-top: 48px;
  color: var(--Earie-Black);
  font-size: 16px;
  font-family: var(--Text);
}

@media screen and (max-width: 960px) {
  .top > div {
    justify-content: center;
  }

  .form {
    margin-top: 64px;
  }
}
